/* Styles for headers */
.headers {
  display: flex;
  margin-bottom: 20px;
  color: rgba(99, 43, 144, 1);
  padding-left: 35px;
}

.headers button {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 2px;
}

.headers button.active {
  background-color: rgba(0, 86, 145, 1);
  color: #fff;
  border-color: rgba(0, 86, 145, 1);
  border-radius: 2px;
}

/* Styles for tabs */
.tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tabs button {
  width: 260px;
  height: 100px;
  margin: 10px 10px 10px 5px;
  border: 2px solid rgba(0, 86, 145, 1);
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  text-align: left;
  font-size: 24px;
  line-height: 33px;
  border-radius: 5px;
  padding: 10px;
}

.tabs button.active {
  background-color: rgba(0, 86, 145, 1);
  color: #fff;
  border-color: rgba(0, 86, 145, 1);
  border-radius: 2px;
}

/* Styles for content */
.content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 5px;
  margin-bottom: 50px;
}

.content h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.content p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 1rem;
}

